@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
a {
  color: rgb(237, 232, 232);
  text-decoration: underline !important;
  letter-spacing: 0.5px;
}
a:hover {
  color: rgb(230, 229, 229);
}

html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, em,
img, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu,
nav, section, menu, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

input, select {
  vertical-align: middle;
}

html {
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

body, select, input, textarea {
  text-rendering: optimizeLegibility;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial";
  letter-spacing: 1px;
  text-rendering: optimizeLegibility;
}

select {
  margin: 8px 0 8px 0;
}

h1, h2, h3, h4, h5, h6, h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus {
  outline: none;
  color: rgb(219, 51, 51);
}

small {
  font-weight: bold;
  letter-spacing: 1px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  overflow-x: none;
  background-color: rgb(16, 16, 16);
  font-family: "Anton", sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

/*scrollbars*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb {
  background: rgb(211, 112, 211);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #757575;
}

.inner {
  position: relative;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  background: rgba(242, 238, 238, 0);
  transition: 0.7s all;
  z-index: 100;
}

.navigation {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  background: rgba(0, 0, 0, 0);
  transition: 0.7s all;
  z-index: 100;
}

header.alt-header {
  background: #fff;
}

.alt-header a {
  color: #da1717;
}

body.header-fixed header {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 0;
  width: 100%;
  z-index: 2;
}

li {
  list-style: none;
}

nav {
  overflow: hidden;
}

nav ul {
  float: right;
}

nav li {
  display: inline;
  float: left;
}

nav a {
  display: inline-block;
  letter-spacing: 1px;
  color: #c31d1d;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 15px;
  transition: 0.3s all;
}

nav a:hover {
  color: #c31d1d;
}

.logo {
  transition: 0.7s all;
  max-width: 200px;
}

@media (max-width: 600px) {
  .logo {
    max-width: 90px;
  }
}
.alt-header .logo {
  color: #000;
}

.alternate {
  background: #000;
  color: #fff;
}

table {
  color: rgb(208, 207, 207);
  display: block;
  max-width: 100%;
}

tr {
  height: 40px;
  text-align: left;
}

td {
  width: 100px;
}

td {
  font-family: Arial, Helvetica, sans-serif;
}

.img-holder {
  height: auto;
  width: 100%;
  max-width: 250px;
  opacity: 0%;
}

.background-image-home {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 0;
  background: url("/assets/img/DSC04350.jpg");
  height: 100vh;
  position: relative;
  background-position: 10% 100%;
  background-size: cover;
  background-color: rgb(252, 252, 13);
}

.intro {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(219, 5, 5);
  font-weight: bold;
  background-color: black;
  font-size: 1.2 rem;
  padding: 40px;
  border: 1px solid black;
  width: 100%;
  text-align: center;
}

.contact p {
  letter-spacing: 2px;
}

.img-holder-info {
  opacity: 0%;
  max-width: 100px;
  height: auto;
  width: 100px;
}

#info .container {
  margin-top: 100px;
  max-width: 500px;
}

#info p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.quote {
  margin-top: 200px;
  font-size: 110px;
  letter-spacing: -3px;
  line-height: 107%;
  font-weight: 200;
  padding: 2rem;
  color: rgb(216, 226, 26);
  max-width: 1000px;
}

@media (max-width: 700px) {
  .quote {
    font-size: 60px;
    margin-top: 250px;
  }
}
.corner {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
  max-width: 100px;
}/*# sourceMappingURL=ap.css.map */