h1{
    color: red;
}

h4{
    font-family: 'Anton', sans-serif;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 120px; 
    color: #ba5151;
    font-size: 140px;   
}

h3{
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 4px;
    font-size: 50px;   
}

h6, p{
    color: rgb(250, 248, 248); 
}