.img-holder{
    height: auto;
    width: 100%; 
    max-width: 250px;
    opacity: 0%; 
}



@mixin backgroundImage($name){
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    $url:"/assets/img/#{$name}";
    background: url($url);
}

// big image as background
.background-image-home{
    @include backgroundImage ("DSC04350.jpg");

    height: 100vh;
    position: relative;
    background-position: 10% 100%;
    background-size: cover;  
    background-color: rgb(252, 252, 13);   
}





.intro{
    position: absolute;
    bottom: 0;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(219, 5, 5);  
    font-weight: bold;
    background-color: black; 
    font-size: 1.2 rem;  
    padding: 40px;
    border: 1px solid black;
    width: 100%;
    text-align: center;    
}

.contact p{
    letter-spacing: 2px; 
}

