h4{
    font-family: 'Anton', sans-serif;
    font-weight: 900;
    letter-spacing: 5px;
    line-height: 120px; 
    color: #ba5151;
    font-size: 140px;   
}

h3{
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 4px;
    font-size: 50px;   
}

.rubix-cube{
    height: auto;
    width: 100%;
    max-width: 150px;
    position: absolute;
    top: 50%;
    left: 20%; 
    transform: translate(-50%, -50%); 
}

@mixin backgroundImage($name){
    background-size: cover;
    background-reapeat: no-reapeat;
    background-position: 0 0;
    $url:"/assets/img/#{$name}";
    background: url($url);
}

// big image as background
.background-image-home{
    @include backgroundImage ("Spoon-less-pixels.jpg");

    height: 100vh;
    position: relative;
    background-position: 100% 10%;
    background-size: cover;
    background-color: rgb(252, 252, 13);   
}

.vernon{
    margin-top: 130px;
    margin-left: 10px;
    color: rgb(174, 243, 89); 
}



.contact{
    position: absolute;
    bottom: 0;
    right: 0;
    font-family:'Times New Roman', Times, serif;
    color: black;
    font-weight: bold;
    background-color: white;
    font-size: 1.2 rem;  
    padding: 10px;
    border: 1px solid black;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;     
}

.contact p{
    letter-spacing: 2px; 
}

.jos-in-box{
    height: auto;
    width: 100%;
    max-width: 150px;
    position: absolute;
    bottom: 0; 
}