#quote{
    background-color: rgb(64, 42, 136); 
}

#quote a{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;   
}

.quote{
    margin-top: 200px;
    font-size: 110px;
    letter-spacing: -3px;
    line-height: 107%;
    font-weight: 200;
    padding: 2rem;
    color: rgba(158, 238, 104, 0.855);
    max-width: 1000px;     
}

@media (max-width: 700px){
    .quote{
        font-size: 60px;
        margin-top: 250px; 
    }
}

.corner{
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%; 
    max-width: 100px;
}